<section class="product-hero section">
  <div class="container">
     <div class="product-hero__wrapper">
        <div class="product-hero__card {{ if .Params.colored }}colored{{ end }}">
           <h1 class="product-hero__title {{ if .Params.colored }}colored{{ end }}">{{ .Params.productHeroTitle }}</h1>
           <p class="product-hero__subtitle">{{ .Params.productHeroSubtitle }}</p>
        </div>
        <p class="product-hero__description">{{ .Params.productHeroDescription }}</p>
     </div>
  </div>
</section>