<section class="product-requirements section">
  <div class="container">
    <div class="product-requirements__wrapper section__wrapper">
      <h2 class="product-requirements__title section__title">
        {{ .Params.productRequirementsTitle }}
      </h2>
      <div class="product-requirements__main">
        <h2 class="product-requirements__subtitle">{{ .Params.productRequirementsSubtitle }}</h2>
        {{ range .Params.productRequirementsLists }}
        <ul class="product-requirements__list {{if .border }}border{{ end }}">
          {{ range .data }} {{ $lenVersions := len .versions }} {{
          $lenArchitectures := len .architectures }}
          <li class="product-requirements__item">
            <div class="product-requirements__label">
              {{ range .systems }}
              <span>{{ . }}</span>
              {{ end }}
            </div>
            <div class="product-requirements__content">
              <p>
                {{ $.Params.productRequirementsVersionTag }}
                <span>
                  {{ range $index, $elem := .versions }} {{ $elem }}{{ if ne
                  $index (sub $lenVersions 1) }},{{ end }} {{ end }}
                </span>
              </p>
              <p>
                {{ $.Params.productRequirementsArchitectureTag }}
                <span>
                  {{ range $index, $elem := .architectures }} {{ $elem }}{{ if
                  ne $index (sub $lenVersions 1) }},{{ end }} {{ end }}
                </span>
              </p>
            </div>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</section>
