<section class="product-why section">
  <div class="container">
     <div class="product-why__wrapper section__wrapper">
        <h2 class="section__title">ПОЧЕМУ ANGIE?</h2>
        <ul class="product-why__list">
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">Совместимость с Nginx</div>
                 <p class="product-why__descripiton"><span>Angie PRO</span> полностью совместим с Nginx, таким
                    образом любой существующий пользователь Nginx
                    может без серьезных затрат и простоя сервисов
                    перейти на Angie PRO</p>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">Расширенная статистика и real-time мониторинг</div>
                 <p class="product-why__descripiton"><span>Angie PRO</span> имеет возможность полного
                    мониторинга
                    нагрузки сервера в режиме реального времени что
                    позволяет динамически управлять конфигурациями
                    по профилю нагрузки и соблюдать полную </p>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">Динамическая конфигурация Upstream</div>
                 <p class="product-why__descripiton">Возможность управлять настройками upstream
                    групп с помощью удобного Rest интерфейса без остановки сервиса</p>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">Удаление элементов кэша</div>
                 <p class="product-why__descripiton">Возможность удаления элементов cache через удобное API
                    без остановки сервиса</p>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">Динамическое хранилище ключ-значение</div>
                 <p class="product-why__descripiton">
                    Динамическое управление переменными конфигурации <span>Angie PRO</span> через HTTP API
                 </p>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">Активная проверка состояния проксируемых
                    серверов </div>
                 <p class="product-why__descripiton">Проверка на “живучесть” только на те upstream, которые
                    отвечают по заданному алгоритму</p>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">DNS динамическое обновление</div>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">Проксирование с привязкой сессий</div>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon">
                 <svg xmlns="http://www.w3.org/2000/svg" width="27" height="7" viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg>
              </div>
              <div class="product-why__content">
                 <div class="product-why__title">Репозиторий с динамическими сторонними
                    модулями</div>
                 <p class="product-why__descripiton">
                    <span>Angie PRO</span> поддерживает большинство сторонних модулей NGINX и дает возможность
                    без проблем
                    устанавливать их, и предоставляет гарантию их
                 </p>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">Синхронизация зон разделяемой памяти</div>
                 <p class="product-why__descripiton">
                    Возможно использовать зоны cache, limit_req и.т.д. в кластере <span>Angie PRO</span>
                 </p>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">Сокрытие или персональный брендинг имени
                    сервера в заголовках ответа</div>
                 <p class="product-why__descripiton">
                    Возможность изменить или скрыть название и версию веб-сервера от пользователей.
                 </p>
              </div>
           </li>
           <li class="product-why__item">
              <div class="product-why__icon"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="7"
                    viewBox="0 0 27 7" fill="none">
                    <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
                 </svg></div>
              <div class="product-why__content">
                 <div class="product-why__title">В Реестре Российского ПО</div>
                 <p class="product-why__descripiton">
                    <span>Angie PRO</span> внесён в Единый реестр российских программ для электронных
                    вычислительных машин
                    и баз данных, запись № 17604..
                 </p>
              </div>
           </li>
        </ul>
     </div>
  </div>
</section>