<section class="product-why section">
  <div class="container">
    <div class="product-why__wrapper section__wrapper">
      <h2 class="section__title">{{ .Params.productWhyTitle }}</h2>
      <ul class="product-why__list">
        {{ range .Params.productWhyList }}
        <li class="product-why__item">
          <div class="product-why__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="27"
              height="7"
              viewBox="0 0 27 7"
              fill="none"
            >
              <path d="M0 4H25M25 4L20 1M25 4L20 6.5" stroke="#777777" />
            </svg>
          </div>
          <div class="product-why__content">
            <div class="product-why__title">{{ .title }}</div>
            <p class="product-why__descripiton">
              {{ .description | safeHTML }}
            </p>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
