/* 
01 - Header
*/

* {
   padding: 0;
   /* margin: 0; */
   scroll-behavior: unset;
}

.wrapper,
.container {
   padding: 0 20px;
   max-width: 1200px;
   margin: 0 auto;
}

.space {
   height: 65px;
}

body {
   height: 1500px;
   margin: 0;
}

/* ------------------HEADER */
header {
   border-bottom: 1px solid rgba(221, 229, 237, 1);
}

.header-items {
   display: flex;
   justify-content: space-between;
   margin-top: 25px;
   align-items: center;
}

.header-logo {
   margin-top: 17px;
}

.header-item {
   margin-left: 10px;
   margin-right: 10px;
}

.header-item h2 {
   color: #777;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
   /* 142.857% */
}

.header-item-title {
   display: flex;
}

.header-item-title a {
   text-decoration: none;
}

.header-item-title svg {
   margin-top: 15px;
   margin-left: 5px;
}

.header-socials {
   position: relative;
   top: -5px;
}

.header-input {
   position: relative;
}

.header-input input {
   /* margin-top: 3px; */
   padding: 8px 14px 8px 14px;
   height: 20px;
   flex-shrink: 0;
   border: 1px solid rgba(221, 229, 237, 1);
   position: relative;
}

.header-input input:focus {
   outline: none;
}

.search-icon {
   position: absolute;
   top: 50%;
   right: 10%;
   transform: translateY(-50%);
   pointer-events: none;
   border: 0;
   background-color: inherit;
}

.search-icon svg {
   width: 13px;
   height: 13px;
   fill: #777777;
}

.header-lang {
   display: flex;
   position: relative;
   left: 19px;
}

.lang-item {
   border: 1px solid rgba(221, 229, 237, 1);
   /* height: fit-content; */
   /* margin-top: 3px; */
   /* padding: 5px 7px 5px 7px; */
   background-color: inherit;
   padding: 8px 12px;
}

.lang-item {
   color: #777;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
   /* 142.857% */
   /* position: relative;
    top: -7px; */
}

.person {
   border: 1px solid rgba(221, 229, 237, 1);
   padding: 6px 5px 5px 5px;
   position: relative;
   /* top: 3px; */
   left: 10px;
}

/* -------------------MAIN INFO */
.main-info {
   display: flex;
}

.info {
   margin-right: 20px;
}

.info-heading {
   color: #333;
   font-family: Arial;
   font-size: 40px;
   font-style: normal;
   font-weight: 900;
   line-height: 100%;
   /* 40px */
   width: 140px;
}

.info-heading-new {
   color: #333;
   font-family: Arial;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 100%;
   /* 30px */
}

.info p {
   color: var(--, #333);
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   /* 30px */
   width: 560px;
}

.info p a {
   /* color: var(--, #4C89FF); */
   color: #4C89FF;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   text-decoration: none;
}

.info svg {
   position: relative;
   top: 30px;
}

.info-line {
   /* border: 1px solid #4C89FF; */
   background-color: #4C89FF;
   width: 1px;
   height: 470px;
   position: relative;
   top: 30px;
}

.small-info {
   text-decoration: none;
}

.small-info-heading {
   color: #333;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 130%;
   /* 26px */
}

.small-info p {
   color: #777;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   /* 18.2px */
}

.small-info-date span {
   color: #C3BEBE;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   /* 18.2px */
}

/* -------------------/MAIN INFO */

/*------------------main-part-----------*/


.card_wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
}

.card_item {
   height: auto;
   border: 1px solid #DDE5ED;
   padding: 30px;

}

.card-heading {
   color: #333;
   /* leading-trim: both;
    text-edge: cap; */
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 150%;
   /* 30px */
}

.card-text {
   color: #858585;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
}

.bold-card-text {
   color: #333;
}

/*------------------/main-part-----------*/

/* ----------------partners */

.partners-wrapper {
   display: flex;
   width: 100%;
   gap: 45px;
   max-height: 98px;
   justify-content: space-between;
}

.partners-wrapper_2 {
   gap: 35px;
}

.pertners-heading {
   color: #333;
   font-family: Arial;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 100%;
   /* 30px */
   text-transform: uppercase;
}

.partners-wrapper img {
   height: auto;
   flex-shrink: 0;
   height: min-content;
}

/* /partners */

/* ----------------footer-------------------- */

.footer {
   box-sizing: border-box;
   padding: 55px 222px 55px 140px;
   background: #DDE5ED;
   /* align-items: center; */
   margin-left: 0px;
   margin-right: 0;
   color: #777;
   font-family: Arial;
   font-size: 14px;
   font-weight: 400;
   line-height: 130%
}

.footer__wrapper {
   display: flex;
   justify-content: space-between;
}

.footer-row {
   justify-content: start;
   max-width: 21%;
   list-style: none;
}

.footer-row a {
   margin: 0;
   margin-bottom: 5px;
   color: #777;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   text-decoration: none;
   display: block;
}

.footer-row p {
   margin-top: 0;
}

.footer-heading {
   margin-bottom: 8px;
   color: #777;
   font-weight: 700;
   line-height: 20px;
   /* 142.857% */
}

.footer-row .active {
   text-decoration: underline;
}

.qrcode {
   display: flex;
   /* justify-content: space-between; */
   text-align: start;

}

.qrcode:first-of-type {
   margin-top: 5px;
}

.qrcode svg {
   margin-left: 5px;
}

.pr-text h2 {
   color: #000;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   /* 30px */
}


.products {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
   gap: 30px;

}

.products-item {
   border: 1px solid #3E8DF9;
   padding: 40px 29px 40px 29px;
   /* flex: 0; */
   /* flex-grow: 1; */
   /* flex: 1 0 calc(30% - 90px); */
   /* max-width: 30%;
    min-width: 25%; */
   /* width: 30%; */
   flex: 1 1 calc(30% - 90px);
   /* flex: 0 0 auto; */
   /* min-width: 260px; */
   max-width: 360px;

   box-sizing: border-box;
}

.product-text {
   max-width: 300px;
   color: #333;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   /* 18.2px */
}

.product-title {
   color: var(--product_1, #3E8DF9);
   font-family: Arial;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 120%;
   /* 36px */
   text-transform: uppercase;
}

.table-product-heading {
   color: #333;
   font-family: Arial;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 100%;
   /* 30px */
   text-transform: uppercase;
   margin-top: 65px;
}

table {
   width: 100%;
   margin-bottom: 65px;
   border-collapse: collapse;
   border-spacing: 0;
}

tr:first-of-type {
   background-color: #DDE5ED;
}

table tr {
   color: #333;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   /* 26px */
   text-align: center;
}

table tr th:first-of-type,
table tr td:first-of-type {
   text-align: start;
   border-left: 1px solid #DDE5ED;

}

table tr th:last-of-type,
table tr td:last-of-type {
   border-right: 1px solid #DDE5ED;

}

table tr th,
table tr td {
   padding: 12px 12px;
   border-bottom: 1px solid #DDE5ED;

}

.main-info {
   display: flex;
}

.info {
   margin-right: 20px;
}

.path,
.path a {
   color: #C3BEBE;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   /* 18.2px */
   text-decoration: none;
}

.new {
   color: #777;
}

.heading {
   color: var(--, #333);
   font-family: "Nunito Sans", sans-serif;
   font-size: 50px;
   font-style: normal;
   font-weight: 900;
   line-height: 50px;
   /* 100% */
   margin-top: 30px;
   margin-bottom: 30px;
}


/* -----------info-block ---------------*/

.news-lenta {
   border-left: 1px solid #3F62DC;
   padding-left: 40px;
}

.news-lenta-block {
   display: flex;
   border-bottom: 1px solid #3F62DC;
   padding-bottom: 20px;
   padding-top: 20px;
   text-decoration: none;
   padding-left: 24px;
   /* width: max-content; */
   justify-content: space-between;
   width: 100%;

}

/* .news-lenta-block-text{
    /* max-width: 100%; */
/* }  */

.news-lenta-block:last-of-type {
   border-bottom: 0;

}


.info-block {
   display: flex;
   gap: 100px;
}

.info-menu a {
   color: #777;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
   /* 100% */
   text-decoration: none;


}

.info-menu a {
   display: block;
   margin-bottom: 20px;

}

.date {
   color: #C3BEBE;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   /* 18.2px */
}

.lenta-heading {
   max-width: 90%;
   color: #333;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 120%;
   /* 24px */
}

.lenta-maint-text {
   color: #777;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   /* 26px */
   /* max-width: 80%; */
}

.tags {
   display: flex;
   gap: 10px;
   align-items: center;
}

.tags p {
   color: #C3BEBE;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   /* 21px */
}


.active {
   text-decoration: underline;
}

.list-news {
   list-style: none;
}

.news-menu-item {
   max-width: 280px;
   text-decoration: none;
}

.date {
   color: #C3BEBE;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   /* 30px */
}

.text-photo-heading {
   color: #333;
   font-family: Arial;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 130%;
   /* 39px */
   text-transform: uppercase;
}

.main-text {
   color: var(--, #333);
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   /* 26px */
   /* max-width: 810px; */
   /* padding-left: 20px; */
}

/* --------------main-new------ */

.main-new {
   display: flex;
   justify-content: start;
   gap: 20px;

}

.text-photo {
   padding-right: 30px;
   max-width: 67%;
   border-right: 1px solid #3F62DC;
}

.new-heading {
   color: #333;
   font-family: Arial;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 100%;
}

.news-menu-item-heading {
   color: #333;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 130%;
   /* 26px */
   margin-top: 10px;
   margin-bottom: 10px;

}

.news-menu-item-text {
   color: #777;
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   /* 18.2px */
   margin-top: 10px;
   margin-bottom: 10px;
}

.date-arrow {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.date-text {
   color: #C3BEBE;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   /* 18.2px */
}

.dop-block {
   padding: 6px 8px;
   color: #3F62DC;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 100%;
   /* 14px */
   border: 1px solid #3F62DC;
   max-width: 190px;
}

.tags {
   display: flex;
   gap: 10px;
   align-items: center;
}

.tags p {
   color: #C3BEBE;
   font-family: Arial;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   /* 21px */
}

.photo {
   width: 670px;
   height: auto;

}

.underlined {
   text-decoration: underline;
}

/* ----------------/footer-------------------- */


.header-mob,
.header-mob-drop {
   display: none;
}

@media (max-width: 1281px) {

   .wrapper {
      padding: 0 70px 0 70px;
   }

   /* -------header--------------- */
   .lang-item:last-of-type {
      width: 45px;

   }

   /* -------/header--------------- */


   .partners-wrapper {
      gap: 40px;
   }

   .partners-wrapper_2 {
      gap: 25px;
   }

   .partners-wrapper img {
      max-width: 200px;
   }


}

@media (max-width: 1025px) {

   .info:first-of-type,
   .info:last-of-type {
      width: 48%;
   }

   .info p {
      width: 100%;
   }

   .header-logo img {
      width: 120px;
   }

   .header-item {
      margin-left: 5px;
      margin-right: 5px;
   }

   .search-icon {
      right: 25%;
      top: 55px;
   }

   .footer {
      padding: 55px 70px 55px 70px;
   }

   .partners-wrapper img {
      max-width: 160px;
   }

   .info-line {
      height: 555px;
   }

}

@media (max-width: 769px) {
   .wrapper {
      padding: 0 35px 0 35px;
   }

   .info-line {
      height: 725px;
   }

   .card_item {
      text-align: center;
      width: 70%;
   }

   .card_wrapper {
      justify-content: center;
   }

   .info-heading-new {
      text-align: center;
   }

   .info:first-of-type {
      width: 48%;
   }

   .info:last-of-type {
      width: 40%;
   }

   .main-info {
      justify-content: space-evenly;
   }

   .pertners-heading {
      font-size: 30px;
      text-align: center;
   }

   .partners-wrapper {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }

   .partners-wrapper img {
      max-width: 165px;

   }

   .partners-wrapper {
      max-height: none;
   }

   .header-input input {
      display: none;
   }

   .search-icon {
      right: 19%;
   }

   .lang-item h2:last-of-type {
      font-size: 13px;
   }

   .header-logo {
      margin-top: 2px;
   }

   .lang-item:last-of-type {
      width: 39px;
   }

   .person {
      top: 2px;
      border-left: 0px;
      height: 26px
   }
}


@media (max-width: 426px) {
   header {
      display: none;
   }

   .header-logo img {
      width: 185px;

   }

   .header-mob {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;


   }

   .menu-header {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      width: 40px;
      height: 40px;

   }

   .menu-header-item {
      height: 3px;
      border-radius: 30%;
      width: 40px;
      background-color: black;
      ;
   }

   .search-icon {
      right: 22%;
      top: 50px;
   }

   .search-icon svg {
      width: auto;
      height: auto;
   }

   .space,
   .main-info,
   .main_part,
   .partners,
   .footer,
   .header-mob {
      display: none;

   }

   .header-mob-drop {
      margin-top: 20px;
   }

   .mob-blocks {
      padding: 10.5px 12px 10.5px 12px;
      border: 1px solid #DDE5ED;

   }

   .mob-blocks:last-of-type {
      padding: 8px 12px 8px 12px;

   }

   .telegram {
      border: 0;
      justify-content: center;
   }

   .head-mob-item {
      align-items: center;
      justify-content: center;
      color: #777;
      font-family: Arial;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 142.857% */
      display: flex;

   }

   .head-mob-item img {
      width: 180px;
      margin-bottom: 20px;
   }
}