.table-product {
   table {
      width: 100%;
      margin-bottom: 65px;
      border-collapse: collapse;
      border-spacing: 0;
   }

   tr:first-of-type {
      background-color: #dde5ed;
   }

   table tr {
      color: #333;
      font-family: Arial;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 26px */
      text-align: center;
   }

   table tr th:first-of-type,
   table tr td:first-of-type {
      text-align: start;
      border-left: 1px solid #dde5ed;
   }

   table tr th:last-of-type,
   table tr td:last-of-type {
      border-right: 1px solid #dde5ed;
   }

   table tr th,
   table tr td {
      padding: 12px 12px;
      border-bottom: 1px solid #dde5ed;
   }
   @media (max-width: 768px) {
      margin-right: -70px;
      margin-left: -70px;
      padding-left: 70px;
      padding-right: 70px;

      display: block;
      overflow: auto;
      -ms-overflow-style: none; /* IE и Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
         display: none;
      }
   }
   @media (max-width: 568px) {
      margin-right: -35px;
      margin-left: -35px;
      padding-left: 35px;
      padding-right: 35px;
   }
}

.products-main {
   margin-top: 30px;
   margin-bottom: 65px;

   &__wrapper {
   }

   &__title {
      color: #333;
      // font-family: Halvar Breitschrift;
      font-size: 50px;
      font-weight: 900;
      line-height: 50px;
      /* 100% */
      text-transform: uppercase;
   }

   &__text {
      margin-top: 30px;
      margin-bottom: 20px;
      color: #000;
      font-size: 20px;
      line-height: 150%;
      /* 30px */
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;

      &.col-3 .products-main__item {
         flex: 1 0 auto;
         @media (max-width: 568px) {
            flex: unset;
         }
      }
   }

   &__item {
      flex: 1 1 calc(25% - 40px);
      max-width: 360px;
   }
   @media (max-width: 568px) {
      &__list {
         gap: 20px;
      }
   }
   @media (max-width: 390px) {
      &__title {
         font-size: calc(50 / 390 * 100vw);
      }
   }
}

.products-item {
   padding: 40px 25px;
   border: 1px solid #3e8df9;
   display: flex;
   flex-direction: column;
   gap: 30px;

   &_green {
      border: 1px solid #20b76f;

      .products-item__title {
         color: #20b76f;
      }
   }

   &__title {
      color: #3e8df9;
      font-family: Arial;
      font-size: 30px;
      font-weight: 700;
      line-height: 120%;
      /* 36px */
      text-transform: uppercase;
   }

   &__text {
      color: #333;
      font-size: 14px;
      line-height: 130%;

      p + p {
         margin-top: 12px;
      }

      /* 18.2px */
   }
   @media (max-width: 568px) {
      flex: unset;
   }
}
