<section class="breadcrumbs">
   <div class="container">
      <ul class="breadcrumbs__list">
         <li>
            <a href="#" class="breadcrumbs__link">Главная</a>
         </li>
         <li>
            <a href="#" class="breadcrumbs__link">Компания</a>
         </li>
         <li>
            <a href="#" class="breadcrumbs__link">Новости</a>
         </li>
         <li>
            <a href="#" class="breadcrumbs__link">Все новости</a>
         </li>
         <li>
            <a href="#" class="breadcrumbs__link">Веб-сервер Angie год спустя: новые возможности и планы на
               будущее</a>
         </li>
      </ul>
   </div>
</section>