<!DOCTYPE html>

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="format-detection" content="telephone=no">
   <link rel="stylesheet" href="css/style.css">
   <title>Главная</title>
</head>

{{ define "main" }}
<body>
   <div class="wrapper">
      <main class="main">
         <section class="home-hero section">
            <div class="container">
               <div class="home-hero__wrapper">
                  <div class="home-hero__company">
                     <h1 class="home-hero__title">ANGIE</h1>
                     <p class="home-hero__text">
                        Компания «Веб-сервер» развивает ANGIE высокопроизводительный и масштабируемый веб-сервер,
                        который
                        создан как fork Nginx и призван превзойти функциональность оригинала и стать снова
                        востребованным
                        веб-сервером на рынке решений кластерных программных комплексов. Среди наших продуктов: <a
                           href="#">Angie PRO</a>
                        единственный коммерческий веб-сервер, разработка которого локализована в России.
                        <a href="#">Angie Ingress Controller (ANIC)</a> это решение для управления трафиком
                        контейнеризированных приложений в
                        Kubernetes. Также на нашем сайте вы сможете ознакомиться с подробной документацией.
                     </p>
                  </div>
                  <div class="home-news">
                     <div class="home-news__title section__title">НОВОСТИ</div>
                     <ul class="home-news__list">
                        <li>
                           <a href="#" class="news-item">
                              <h2 class="news-item__title">Интервью с руководителем отдела разработки</h2>
                              <p class="news-item__subtitle">Информационная служба Хабра пообщалась
                                 с Валентином Бартеневым - руководителем отдела разработки «Веб-Сервера»</p>
                              <div class="news-item__footer">
                                 <span class="news-item__date">16.11.2023</span>
                                 <div class="news-item__arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9"
                                       fill="none">
                                       <path
                                          d="M10.1964 0.5L14.6077 4.25M14.6077 4.25L10.1964 8M14.6077 4.25L0.999994 4.25"
                                          stroke="#777777" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="news-item">
                              <h2 class="news-item__title">Получили сертификат совместимости с ОС Альт СП Сервер</h2>
                              <p class="news-item__subtitle">Сертификат не только подтверждает прохождение тестов, но и
                                 является обязательным документом для внедрения нашего продукта у ряда заказчиков.</p>
                              <div class="news-item__footer">
                                 <span class="news-item__date">10.11.2023</span>
                                 <div class="news-item__arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9"
                                       fill="none">
                                       <path
                                          d="M10.1964 0.5L14.6077 4.25M14.6077 4.25L10.1964 8M14.6077 4.25L0.999994 4.25"
                                          stroke="#777777" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="news-item">
                              <h2 class="news-item__title">Встречайте Console Light</h2>
                              <p class="news-item__subtitle">Представляем легковесную визуальную консоль для мониторинга
                                 активности в реальном времени</p>
                              <div class="news-item__footer">
                                 <span class="news-item__date">27.09.2023</span>
                                 <div class="news-item__arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9"
                                       fill="none">
                                       <path
                                          d="M10.1964 0.5L14.6077 4.25M14.6077 4.25L10.1964 8M14.6077 4.25L0.999994 4.25"
                                          stroke="#777777" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                 </div>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>

            </div>
         </section>
         <section class="home-why section">
            <div class="container">
               <div class="home-why__wrapper section__wrapper">
                  <h2 class="home-why__title section__title">ПОЧЕМУ ANGIE?</h2>
                  <ul class="home-why__list">
                     <li class="home-why__item">
                        <h3 class="home-why__subtitle">Совместимость с Nginx</h3>
                        <p class="home-why__text"><span>Angie PRO</span> полностью совместим с Nginx, таким образом
                           любой существующий пользователь Nginx может без серьезных затрат и простоя </p>
                     </li>
                     <li class="home-why__item">
                        <h3 class="home-why__subtitle">Динамическая конфигурация Upstream</h3>
                        <p class="home-why__text">Возможность управлять настройками upstream групп с помощью удобного
                           Rest интерфейса без остановки </p>
                     </li>
                     <li class="home-why__item">
                        <h3 class="home-why__subtitle">Расширенная статистика и real-time мониторинг</h3>
                        <p class="home-why__text">Angie PRO имеет возможность полного мониторинга нагрузки сервера в
                           режиме реального времени что </p>
                     </li>
                     <li class="home-why__item">
                        <h3 class="home-why__subtitle">Активная проверка состояния проксируемых серверов </h3>
                        <p class="home-why__text">Проверка на “живучесть” только на те upstream, которые отвечают по
                           заданному алгоритму</p>
                     </li>
                  </ul>
               </div>
            </div>
         </section>
         <section class="home-list section">
            <div class="container">
               <div class="home-list__wrapper section__wrapper">
                  <h2 class="home-list__title section__title">Сертификации и технологические партнеры</h2>
                  <ul class="home-list__items">
                     <li>
                        <a href="#">
                           <img src="img/home/partners1.svg" alt="">

                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="img/home/partners2.svg" alt="">
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="img/home/partners3.png" alt="">
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="img/home/partners4.svg" alt="">
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="img/home/partners5.svg" alt="">
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </section>
         <section class="home-list section">
            <div class="container">
               <div class="home-list__wrapper section__wrapper">
                  <h2 class="home-list__title section__title">НАШИ КЛИЕНТЫ</h2>
                  <ul class="home-list__items">
                     <li>
                        <a href="#">
                           <img src="img/home/client1.svg" alt="">
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="img/home/client2.svg" alt="">
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="img/home/client3.svg" alt="">
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="img/home/client4.svg" alt="">
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="img/home/client5.svg" alt="">
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="img/home/client6.svg" alt="">
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </section>
      </main>
      <footer class="footer">
         <div class="container">
            <div class="footer__wrapper">
               <div class="footer__main">
                  <ul class="footer__list">
                     <li>
                        <a href="tel:+7 965 312-44-76">+7 965 312-44-76</a>
                        <a href="mailto:info@wbsrv.ru">info@wbsrv.ru</a>
                        <p class="footer__address">
                           <span>119021, г. Москва, </span>
                           <span>ул. Льва Толстого, д. 14, этаж 1, кв. 1/2</span>
                        </p>
                        <p class="footer__address">
                           <span>ИНН: 7727563778</span>
                           <span>ОГРН: 1027739642281</span>
                        </p>
                     </li>
                     <li>
                        <a href="#" class="footer__sublink">
                           <span>Новости</span>
                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                              fill="none">
                              <path
                                 d="M0 4.038V0H4.038V1H1V4.038H0ZM0 18V13.962H1V17H4.038V18H0ZM13.962 18V17H17V13.962H18V18H13.962ZM17 4.038V1H13.962V0H18V4.038H17ZM13.942 13.942H15.154V15.154H13.942V13.942ZM13.942 11.519H15.154V12.731H13.942V11.519ZM12.731 12.731H13.942V13.942H12.731V12.731ZM11.519 13.942H12.731V15.154H11.519V13.942ZM10.308 12.731H11.519V13.942H10.308V12.731ZM12.731 10.308H13.942V11.519H12.731V10.308ZM11.519 11.519H12.731V12.731H11.519V11.519ZM10.308 10.308H11.519V11.519H10.308V10.308ZM15.154 2.846V7.692H10.308V2.846H15.154ZM7.692 10.308V15.154H2.846V10.308H7.692ZM7.692 2.846V7.692H2.846V2.846H7.692ZM6.808 14.27V11.193H3.73V14.27H6.808ZM6.808 6.809V3.73H3.73V6.807L6.808 6.809ZM14.269 6.809V3.73H11.192V6.807L14.269 6.809Z"
                                 fill="#777777" />
                           </svg>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="footer__sublink">
                           <span>Поддержка</span>
                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                              fill="none">
                              <path
                                 d="M0 4.038V0H4.038V1H1V4.038H0ZM0 18V13.962H1V17H4.038V18H0ZM13.962 18V17H17V13.962H18V18H13.962ZM17 4.038V1H13.962V0H18V4.038H17ZM13.942 13.942H15.154V15.154H13.942V13.942ZM13.942 11.519H15.154V12.731H13.942V11.519ZM12.731 12.731H13.942V13.942H12.731V12.731ZM11.519 13.942H12.731V15.154H11.519V13.942ZM10.308 12.731H11.519V13.942H10.308V12.731ZM12.731 10.308H13.942V11.519H12.731V10.308ZM11.519 11.519H12.731V12.731H11.519V11.519ZM10.308 10.308H11.519V11.519H10.308V10.308ZM15.154 2.846V7.692H10.308V2.846H15.154ZM7.692 10.308V15.154H2.846V10.308H7.692ZM7.692 2.846V7.692H2.846V2.846H7.692ZM6.808 14.27V11.193H3.73V14.27H6.808ZM6.808 6.809V3.73H3.73V6.807L6.808 6.809ZM14.269 6.809V3.73H11.192V6.807L14.269 6.809Z"
                                 fill="#777777" />
                           </svg>
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="footer__row">
                  <div class="footer__item">
                     <span class="footer__subtitle">Продукты</span>
                     <ul class="footer__list">
                        <li>
                           <a href="#" class="footer__link">Все продукты</a>
                        </li>
                        <li>
                           <a href="#" class="footer__link">Angie PRO</a>
                        </li>
                        <li>
                           <a href="#" class="footer__link">ANIC</a>
                        </li>
                        <li>
                           <a href="#" class="footer__link">Angie OSS</a>
                        </li>
                     </ul>
                  </div>
                  <div class="footer__item">
                     <span class="footer__subtitle">Документация</span>
                     <ul class="footer__list">
                        <li>
                           <a href="#" class="footer__link">Общая документация</a>
                        </li>
                        <li>
                           <a href="#" class="footer__link">Angie PRO</a>
                        </li>
                        <li>
                           <a href="#" class="footer__link">ANIC</a>
                        </li>
                        <li>
                           <a href="#" class="footer__link">Angie OSS</a>
                        </li>
                     </ul>
                  </div>
                  <div class="footer__item">
                     <span class="footer__subtitle">Поддержка</span>
                     <ul class="footer__list">
                        <li>
                           <a href="#" class="footer__link">Техническафя поддержка</a>
                        </li>
                        <li>
                           <a href="#" class="footer__link">Профессиональные услуги</a>
                        </li>
                        <li>
                           <a href="#" class="footer__link">Форум</a>
                        </li>
                     </ul>
                  </div>
               </div>

            </div>
         </div>
      </footer>
   </div>
   <script src="js/app.js"></script>
</body>

</html>