<aside class="article__aside">
   <h2 class="article__subtitle section__title">ДРУГИЕ НОВОСТИ</h2>
   <ul class="home-news__list">
      <li>
         <a href="#" class="news-item">
            <h2 class="news-item__title">Интервью с руководителем отдела разработки</h2>
            <p class="news-item__subtitle">Информационная служба Хабра пообщалась
               с Валентином Бартеневым - руководителем отдела разработки «Веб-Сервера»</p>
            <div class="news-item__footer">
               <span class="news-item__date">16.11.2023</span>
               <div class="news-item__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9" fill="none">
                     <path d="M10.1964 0.5L14.6077 4.25M14.6077 4.25L10.1964 8M14.6077 4.25L0.999994 4.25"
                        stroke="#777777" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
               </div>
            </div>
         </a>
      </li>
      <li>
         <a href="#" class="news-item">
            <h2 class="news-item__title">Получили сертификат совместимости с ОС Альт СП Сервер</h2>
            <p class="news-item__subtitle">Сертификат не только подтверждает прохождение тестов, но и
               является обязательным документом для внедрения нашего продукта у ряда заказчиков.</p>
            <div class="news-item__footer">
               <span class="news-item__date">10.11.2023</span>
               <div class="news-item__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9" fill="none">
                     <path d="M10.1964 0.5L14.6077 4.25M14.6077 4.25L10.1964 8M14.6077 4.25L0.999994 4.25"
                        stroke="#777777" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
               </div>
            </div>
         </a>
      </li>
      <li>
         <a href="#" class="news-item">
            <h2 class="news-item__title">Встречайте Console Light</h2>
            <p class="news-item__subtitle">Представляем легковесную визуальную консоль для мониторинга
               активности в реальном времени</p>
            <div class="news-item__footer">
               <span class="news-item__date">27.09.2023</span>
               <div class="news-item__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9" fill="none">
                     <path d="M10.1964 0.5L14.6077 4.25M14.6077 4.25L10.1964 8M14.6077 4.25L0.999994 4.25"
                        stroke="#777777" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
               </div>
            </div>
         </a>
      </li>
   </ul>
</aside>