.footer {
   background: #dde5ed;
   padding: 52px 0;

   &__wrapper {
      display: flex;
      gap: 47px;
      color: #777777;

      a {
         color: #777777;
      }
   }

   &__main {
      p {
         display: flex;
         flex-direction: column;
      }

      a {
         display: flex;
         align-items: center;
         gap: 5px;
         line-height: 20px;
      }

      line-height: 130%;
   }

   &__row {
      display: flex;
      justify-content: space-between;
      flex: 1;
   }

   &__item {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   &__list {
      display: flex;
      flex-direction: column;
      gap: 5px;

      li {
         display: flex;
         flex-direction: column;
      }
   }

   &__address {
   }

   &__sublink {
   }

   &__subtitle {
      color: #777;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      /* 142.857% */
   }

   &__link {
      position: relative;
      max-width: fit-content;

      &::after {
         content: "";
         display: block;
         position: absolute;
         width: 100%;
         top: 100%;
         height: 1px;
         transition: 0.3s;
         background-color: #777777;
         transform: scale(0);
         transform-origin: left;
      }

      @media (hover: hover) {
         &:hover {
            &::after {
               transform: scale(1);
            }
         }
      }
   }
   @media (max-width: 992px) {
      &__wrapper {
         flex-direction: row-reverse;
         flex-wrap: wrap-reverse;
         justify-content: left;
      }
      &__row {
         gap: 32px;
      }
      &__item {
         max-width: 140px;
      }
      &__list {
         max-width: 140px;
      }
   }
   @media (max-width: 568px) {
      &__row {
         flex-wrap: wrap;
      }
      &__wrapper {
         flex-direction: column-reverse;
      }
   }
}
